body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e0ffff;
    color: #000000;
}

.header {
    text-align: center;
    background-color: #b0e0e6;
    color: white;
    padding: 30px;
}

.header h1 {
    font-family: Georgia, serif; 
    margin: 0;
}

.navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #87ceeb;
    display: flex;
    justify-content: space-around;
    position: relative; 
    top: 0em;
    left: 0em;
    width: 100%;
}

.navbar li {}

.dropdown {
    position: relative;
}

.navbar a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 14px 20px;
}

.navbar a:hover {
    color: #b0e0e6;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #87ceeb;
    top: 100%;
    left: 0;
    margin: 0;
    padding: 0;
}

.dropdown-content li { list-style: none; }

.dropdown-content a {
    padding: 10px 20px;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block; 
}

.content {
    padding: 20px;
    font-size: 18px;
}

@media all {}

@media print {
    .navbar { display: none; }
}